name: RTA Slot Checker

on:
  schedule:
    # 每 5 分钟运行一次 (GitHub 的 Cron 语法)
    - cron: '*/5 * * * *'
  # 允许你手动点击按钮触发（方便测试）
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        env:
          # 这里引用我们在仓库设置里配置的 Token
          PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
        run: python main.py
